@font-face {
    font-family: 'Cormorant Garamond';
    src: url(../fonts/CormorantGaramond-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url(../fonts/Outfit-Regular.ttf);
    font-weight: 400;
}